@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
body
  overflow-y hidden
  font-family 'Roboto'
.graph
  width 5500px
  padding 0px 0px
  position relative
  &.hb, &.hb .big-number-container
    background #9f04a8
  &.mox, &.mox .big-number-container
    background #f00
  &.mox2, &.mox2 .big-number-container
    background #00cc00
  &.spd, &.spd .big-number-container
    background #ff9a00
  &.p, &.p .big-number-container
    background #0d56a6
  svg
    path
      fill none
      stroke white
    circle
      fill white
  .big-number-container
    position absolute
    top 0px
    width 350px
    bottom 0px
    left (1920px - @width)
    // padding-top 3vh
    color white
    z-index 30
    .big-number-background
      position absolute
      top 0px
      left 0px
      bottom 0px
      width 100%
      background rgba(0,0,0,0.3)
    .big-number-texts
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
    .big-number
      font-weight 100
      text-align center
      font-size 90px
      font-size 10vh
      line-height @font-size
      z-index 50
      position relative
    .unit
      text-align center
      padding-top 20px
      font-weight 100
      font-size 20px
      z-index 50
      position relative
.highlighter
  position absolute
  top 0px
  bottom 0px
  pointer-events none
  z-index 10
  opacity 1
  transition opacity 0.2s
  div
    position absolute
    top 0px
    bottom 0px
    width 1990px
    background rgba(0,0,0, 0.3)
    &.start
      right 10px
    &.end
      left 10px
  span.hours
    position absolute
    left 18px
    color white

  &.invisible
    opacity 0
.highlighter-visible
  .big-number-background
    background rgba(0,0,0,0.35) !important

.bigfont
  .big-number
    font-weight 300 !important
  .unit
    font-size 24px !important
    font-weight 400 !important
  svg
    path
      stroke-width 2
    g.circle circle
      transform scale(2)
